nav,
.page-footer {
  background-color: #051e34;
}

nav ul li a {
  color: #d6d0cd;
}

#nav-list a {
  font-size: 1.3rem !important;
}

#photo {
  float: left;
  margin-right: 20px;
  filter: grayscale(1);
  transition: 0.5s;
}

#photo:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.resume-ul i {
  font-size: 1.1rem !important;
  font-weight: 400;
}

#about {
  margin-bottom: 0 !important;
}

/************************ ToTop **************************/
#toTop {
  background-color: white;
}
.btn-floating-arrow {
  /* color: rgb(248, 255, 211) !important; */
  color: black !important;
}

.profil {
  border-radius: 50%;
  border-style: solid;
  border-color: #53f6c7;
  border-width: 2px;
  height: 200px;
  margin: 50px auto 0;
  /* width: 200px; */
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.parallax-container {
  height: 800px;
}

/************************ Hightlight **************************/
.highlight-red {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 20, 0, 0.2),
    rgba(255, 20, 0, 0.7) 95%,
    rgba(255, 20, 0, 0.1)
  );
}
.highlight-yellow {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 224, 0, 0.2),
    rgba(255, 224, 0, 0.7) 95%,
    rgba(255, 224, 0, 0.1)
  );
}
.highlight-green {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(0, 255, 20, 0.2),
    rgba(0, 255, 20, 0.7) 95%,
    rgba(0, 255, 20, 0.1)
  );
}
.highlight-blue {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(0, 20, 255, 0.2),
    rgba(0, 20, 255, 0.7) 95%,
    rgba(0, 20, 255, 0.1)
  );
}

/************************ Sections **************************/
.section {
  padding-top: 25px;
}

.section-title {
  color: #eff6e0;
}

/************************ Scroll **************************/
html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6d0cd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/************************ RESUME DROPDOWN **************************/
.dropdown-content {
  width: max-content !important;
  height: auto !important;
  background-color: #0a2f50;
}

.dropdown-content li > a {
  color: #d6d0cd;
}

.dropdown-content li > a:hover {
  color: #0a2f50;
}

/************************ PROJECTS **************************/
.project-title {
  font-weight: 400 !important;
}

#projects,
#hobbies {
  background-color: #17255a;
  color: aliceblue;
}

.project-card {
  background-color: #18206f;
  color: white;
}

.project-card .card-reveal {
  background-color: #ffffff;
}

.project-card .card-action a {
  color: #d88373 !important;
}

.project-card .card-action a:hover {
  color: #f0f4c3 !important;
  /* font-weight: 500; */
  /* font-size: 2rem; */
}

.activator {
  cursor: pointer;
}

/************************ CONTACT **************************/
#contacts-wrapper .contact-item {
  color: #c3d6f4;
}
