nav,
.page-footer {
  background-color: #051e34;
}

nav ul li a {
  color: #d6d0cd;
}

#photo {
  float: left;
  margin-right: 20px;
  filter: grayscale(1);
  transition: 0.5s;
}

#photo:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.resume-ul i {
  font-size: 1.1rem !important;
  font-weight: 400;
}

#about {
  margin-bottom: 0 !important;
}

/* .contact {
  color: #d6d0cd !important;
} */

#toTop {
  background-color: #cdd2d6;
}

.profil {
  border-radius: 50%;
  border-style: solid;
  border-color: #53f6c7;
  border-width: 2px;
  height: 200px;
  margin: 50px auto 0;
  /* width: 200px; */
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.parallax-container {
  height: 800px;
}

.section-title {
  color: #eff6e0;
}

/************************ Scroll **************************/
html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6d0cd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/************************ RESUME DROPDOWN **************************/
.dropdown-content {
  width: max-content !important;
  height: auto !important;
  background-color: #0a2f50;
}

.dropdown-content li > a {
  color: #d6d0cd;
}

.dropdown-content li > a:hover {
  color: #0a2f50;
}

/************************ PROJECTS **************************/
.project-title {
  font-weight: 400 !important;
}

#projects {
  background-color: #124559;
  color: aliceblue;
}

.project-card {
  background-color: #598392;
  color: white;
}

.project-card .card-reveal {
  background-color: #f7faf2;
}

.project-card .card-action a {
  color: #d6d0cd !important;
}

.project-card .card-action {
  padding-top: 2px !important;
}

.project-card .card-action a:hover {
  color: #f0f4c3 !important;
  /* font-weight: 500; */
  /* font-size: 2rem; */
}

.activator {
  cursor: pointer;
}
